@{
    ViewBag.Title = "Home Page";
}
<br />
<br />

<h2>Upload your file in here :</h2>

<br />
<br />

<form name="form1" method="post" enctype="multipart/form-data">

    <div>
        <label for="image1">Upload File : </label>
        <input name="image1" type="file" />
    </div>
    <br />
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>



@Scripts.Render("~/Scripts/Custom_Scripts/test-angular.js")
<div ng-controller="TestCtrl">
    {{text}}
</div>
